*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-blue: #0b153c;
	--primary-cyan: #17c2ec;
	--priamry-grey: #263238;
	--primary-white: #fff;
	--secondary-white: rgba(255, 255, 255, 50);
	--primary-white: #000;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Montserrat', sans-serif;
}
/************* Utilites ****************/
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.container {
	max-width: 110rem;
	width: 100%;
	margin: 0 auto;
}
.primary--btn,
.secondary--btn {
	color: #fff;
	border-radius: 10px;
}
.primary--btn {
	background-color: var(--primary-cyan);
}
.secondary--btn {
	border: 1px solid var(--primary-cyan);
	background-color: rgba(196, 196, 196, 0.2);
}
/************ Utilites Ended *********/
/************* Header ****************/
header {
	background: url('../images/why-bg.png') var(--primary-blue);
	background-size: cover;
	/* height: 100vh; */
}
nav,
.nav--container,
.nav--list,
.hero--content,
.hero--content__btns,
.specialist,
.specialist p,
.specialist,
.appointments,
.appointment,
.schedule {
	display: flex;
	align-items: center;
}
nav {
	padding-block: 2rem;
}
.nav--logo {
	width: 20%;
	margin-right: auto;
}
.logo {
	width: 100%;
}
.toggle {
	display: none;
}

.nav--container {
	width: 65%;
	justify-content: space-between;
}
.nav--list {
	gap: 2rem;
}
.nav--link {
	font-size: 2.4rem;
	color: var(--secondary-white);
}
.nav--btn {
	color: var(--primary-cyan);
	background-color: rgba(196, 196, 196, 0.2);
	padding: 1rem 1.5rem;
	font-size: 2.4rem;
	border-radius: 10px;
}
.heros {
	padding-block-start: 5rem;
}
.hero {
	display: flex;
}

.hero--content {
	flex-direction: column;
	align-items: unset;
	gap: 3rem;
}
.hero--content span {
	color: var(--primary-cyan);
}
.hero--content__title {
	font-size: 2.4rem;
}
.hero--content h1 {
	color: #fff;
	font-size: 4.8rem;
	width: 80%;
}
.hero--content p {
	font-size: 2.4rem;
	color: #ffffff;
	opacity: 70%;
	width: 80%;
}
.hero--content__btns {
	gap: 2rem;
}
.hero--content__btn {
	font-size: 2.4rem;
	padding: 1.2rem 2rem;
}
.hero--right {
	width: 65%;
}
.hero--img {
	width: 100%;
	background-color: var(--primary-cyan);
	border-radius: 35px;
	margin-inline: -5rem;
	z-index: 0;
	position: relative;
}

.hero--img::after,
.hero--img::before {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff;
	padding: 1rem;
	border-radius: 20px;
}
.hero--img::after {
	content: url('../images/coronavirus.png');
	right: 0;
	margin-right: -5rem;
}
.hero--img::before {
	content: url('../images/doctor.png');
	margin-left: -5rem;
}
.hero--img img {
	width: 100%;
	display: block;
}
.specialist {
	width: max-content;
	padding: 1rem;
	margin-left: -5rem;
	margin-top: -5rem;
	border-radius: 10px;
	align-items: unset;
	gap: 2rem;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 1;
}
.specialist span img:not(:first-of-type) {
	display: inline-block;
	margin-left: -1rem;
}
.specialist p {
	font-weight: bold;
	align-items: unset;
	flex-direction: column;
	font-size: 2.4rem;
	color: #fff;
}
.specialist p span {
	color: var(--primary-cyan);
}
.hero--appointment {
	font-size: 2.4rem;
	font-weight: 500;
}
.hero--appointment .schedule {
	gap: 2rem;
	margin-top: -2rem;
	margin-bottom: 2rem;
}
.schedule p {
	color: #fff;
}
.appointments {
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 2rem 2rem;
}
.appointment {
	gap: 2rem;
}
.hero--appointment svg {
	width: 5rem;
	height: 5rem;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 1rem;
	border-radius: 10px;
}

.appointment span {
	color: rgba(255, 255, 255, 0.3);
}
.appointment p {
	color: #fff;
}
.appointment--btn {
	padding: 1.5rem 3rem;
	font-size: 2.4rem;
}
/************ Header Ended *********/
/************* Spomnsor ****************/

.sponsor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 2rem;
}
.sponsor img {
	width: 22%;
	display: block;
	opacity: 0.5;
}
/************ Spomnsor Ended *********/
/************* Result ****************/
.result {
	background: url('../images/result-bg.png');
	background-size: cover;
	background-position: center;
	padding-block: 5rem;
}

.result--content {
	background-color: rgba(255, 255, 255, 0.1);
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	gap: 3rem;
}
.result--content span {
	font-size: 2.4rem;
	color: #fff;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	padding-block: 3rem;
	padding-inline: 10rem;
}

.result--content form {
	display: flex;
	justify-content: space-between;
	padding-inline: 10rem;
}

.result--content input {
	width: 42%;
	padding: 1rem 1rem;
	background-color: transparent;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	font-size: 2.4rem;
	color: #fff;
}
.result--content input:focus {
	border: none;
	outline: 3px solid var(--primary-cyan);
}
.result--btn {
	padding: 0rem 3rem;
	font-size: 2.4rem;
	outline: 2px solid var(--primary-cyan);
}
.result--content p {
	text-align: center;
	padding-block: 1.5rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	margin-inline: 10rem;
}
.result--content p,
.result--content p a {
	font-size: 2.4rem;
	font-weight: 500;
	color: var(--primary-cyan);
}

/************ Result Ended *********/
/************* Why ****************/
.why {
	background: url('../images/why-bg.png'), #0b153c;
	background-size: cover;
	padding-block: 5rem;
}
.why--header,
.whys,
.why--content {
	display: flex;
}
.why--header {
	justify-content: space-between;
	margin-block-end: 3rem;
}
.why--header h2 {
	font-size: 4.7rem;
	color: #fff;
}
.why--header p {
	width: 50%;
	font-size: 1.9rem;
	color: rgba(255, 255, 255, 0.5);
}

.whys {
	justify-content: space-between;
	align-items: end;
}
.why--content {
	flex-direction: column;
}
.why--content svg {
	width: 8rem;
	height: 8rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 1rem;
}
.why--content p {
	color: #fff;
	font-size: 2.3rem;
	font-weight: 700;
}
.why--content a {
	font-size: 1.7rem;
	font-weight: 700;
	margin-block: 2rem;
}
.why--content:not(:first-of-type) {
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	padding: 4rem 5rem;
	gap: 3rem;
	width: 30%;
}
.why--content:not(:first-of-type) a {
	color: rgba(255, 255, 255, 0.5);
}
.why--content:last-of-type {
	gap: 4.5rem;
}

.why--content:first-of-type {
	background-color: rgba(255, 255, 255, 0.1);
	padding-inline: 4rem;
	padding-block: 4rem;
	width: 35%;
	gap: 3rem;
	border-radius: 50px 100px 50px 50px;
}

.why--content:first-of-type p {
	color: var(--primary-cyan);
}
.why--content:first-of-type span {
	font-size: 1.7rem;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;
}
.why--content:first-of-type a {
	color: var(--primary-cyan);
}

/************ Why Ended *********/
/************* Vaccine ****************/
.get-vaccine {
	padding-block: 2rem;
	background-color: rgba(0, 0, 0, 0.1);
}
.get-vaccine h2 {
	font-size: 4.8rem;
	width: 50%;
}
.vaccine--details,
form,
.form--group,
.form--number,
.country--options {
	display: flex;
}
.vaccine--details {
	align-items: center;
	justify-content: space-between;
}
.vaccine--left {
	width: 50%;
}
.vaccine--left form {
	flex-direction: column;
	gap: 3rem;
}
.form--group {
	flex-direction: column;
	gap: 1rem;
}
.form--group label {
	font-size: 2.4rem;
	font-weight: 500;
	color: #000;
}
.form--group input {
	border: 1px solid transparent;
	outline: 1px solid transparent;
	background-color: rgba(238, 238, 238, 0.9);
	border-radius: 20px;
	padding: 1rem 2rem;
	font-size: 2.4rem;
	font-weight: 500;
}
.form--group span {
	font-size: 2rem;
}
.form--number {
	font-size: 2rem;
	align-items: center;
}
.form--number input {
	border-radius: 0 20px 20px 0;
}
.form--number__btn {
	padding: 1rem 6rem;
	margin-inline-start: auto;
	font-size: 2.4rem;
}
.country--options {
	align-items: center;
	gap: 1rem;
	background-color: rgba(238, 238, 238, 0.9);
	justify-content: space-between;
	padding-inline-start: 1rem;
	padding-block: 1rem;
	border-radius: 20px 0 0 20px;
	cursor: pointer;
}
.iconify {
	width: 3rem;
	height: 3rem;
}
.form--btn {
	width: 100%;
	padding-block: 1.5rem;
	font-size: 2.4rem;
}
.vaccine--left > span {
	display: block;
	text-align: center;
	width: 100%;
	margin-block-start: 3rem;
}
.vaccine--left > span:last-of-type a {
	font-size: 2rem;
	font-weight: 500;
}
.vaccine--left > span:last-of-type a:nth-child(1) {
	color: var(--priamry-grey);
	margin-right: 5rem;
}
.vaccine--left > span:last-of-type a:nth-child(2) {
	color: var(--primary-cyan);
}

.vaccine--right {
	background-color: var(--primary-blue);
	border-radius: 30px;
	position: relative;
	/* width: 40%; */
}
.vaccine--right img {
	display: block;
	width: 100%;
	border-radius: 30px;
}

.vaccine--right::before {
	content: url('../images/vacine-corona.png');
	position: absolute;
	top: -20px;
	left: -40px;
}
.vaccine--right::after {
	content: 'Verify Status';
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	background-color: rgba(196, 196, 196, 0.25);
	padding: 1rem 2.5rem;
	border-radius: 10px;
	cursor: pointer;
}
.vaccine--right h3 {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	font-size: 2.4rem;
}
/************ Vaccine Ended *********/
/************* Symptoms ****************/
.symptoms {
	background: url('../images/sympyoms-bg.png');
	background-size: cover;
	padding-block: 5rem 0;
}
.symptom--heading {
	color: white;
	text-align: center;
	font-size: 2.4rem;
}
.symptom--heading span {
}
.symptom--heading h2 {
	font-size: 4.8rem;
	margin-block: 2rem 4rem;
}

.symptom--heading p {
	width: 80%;
	margin: 0 auto;
	opacity: 50%;
}
.symptom--content {
	position: relative;
	margin-block-start: 20rem;
}
.symptom--list {
	column-count: 2;
	padding-block: 0 3rem;
}
.symptom--list li {
	width: 50%;
	font-size: 2rem;
	color: var(--primary-cyan);
	background-color: rgba(0, 0, 0, 0.2);
	padding-block: 2.5rem;
	border-radius: 10px;
	text-align: center;
	position: relative;
}
.symptom--list li::after {
	content: url('../images/coronavirus.png');
	position: absolute;
	top: 0;
	left: -30px;
}

.symptom--list li:nth-of-type(2) {
	padding-inline-start: 2rem;
	margin: 10rem -6rem;
}
.symptom--list li:nth-of-type(3) {
	margin-inline-start: -11rem;
}
.symptom--list li:nth-of-type(4) {
	margin-left: auto;
	padding-inline-start: 5rem;
}
.symptom--list li:nth-of-type(5) {
	margin-inline: auto -6rem;
	margin-block: 10rem;
	padding-inline-start: 5rem;
}
.symptom--list li:nth-of-type(6) {
	margin-inline: auto -12rem;
}
.symptom--img {
	width: 65%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.symptom--img img {
	width: 100%;
}
/************ Symptoms Ended *********/
/************* Feeback ****************/
/************* Feeback ****************/
.feedback--container {
	padding-block: 5rem 25rem;
}
.feedback--heading {
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
}
.feedback--heading span {
	color: var(--primary-cyan);
}
.feedback--heading h2 {
	font-size: 4.8rem;
	margin-block: 1rem 3rem;
}
.feedback--heading p {
	color: rgba(0, 0, 0, 0.5);
	width: 90%;
	margin-inline: auto;
}
.feedbacks {
	display: flex;
	gap: 2rem;
}
.feedback--card {
	position: relative;
	background-color: rgba(196, 196, 196, 0.5);
	border-radius: 20px;
	padding: 2rem 2rem 3rem;
	margin-block: 10rem 5rem;
}
.feedback--card::after {
	content: url('../images/feedback-bg.png');
	position: absolute;
	top: -80%;
	z-index: -1;
}
.feedback--card:nth-child(even) {
	background-color: var(--primary-cyan);
	box-shadow: 2px 3px 13px -4px rgba(0, 0, 0, 0.75);

	color: #fff;
}
.feedback--details {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	font-weight: 700;
}
.feedback--details img {
}
.feedback--details p {
	font-size: 2.4rem;
}
.feedback--details span {
	font-size: 1.4rem;
	font-weight: 500;
}
.feedback--content {
	font-size: 1.8rem;
	line-height: 1.3em;
	text-align: center;
	margin-block-start: 2rem;
}
/************ Feeback Ended *********/
/************ Footer ****** *********/
footer {
	background: url('../images/footer--bg.png');
	background-size: cover;
	position: relative;
}
.footer--container,
.icons {
	display: flex;
	align-items: center;
}
.footer--container {
	justify-content: space-between;
	padding-block: 20rem 10rem;
}
.icons {
	gap: 1rem;
}

.icons svg {
	width: 5rem;
	height: 5rem;
}
/************ Footer Ended *********/

.cta {
	width: 100rem;
	margin-inline: auto;
	background-color: var(--primary-cyan);
	border-radius: 20px;
	color: #fff;
	text-align: center;
	padding-block: 5rem;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
}
.cta h2 {
	font-size: 4.8rem;
}
.cta p {
	font-size: 2.4rem;
	margin-block: 2rem 4rem;
}
.direct-message {
	width: 50%;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.direct-message input {
	width: 85%;
	height: 100%;
	padding: 1rem 2rem;
	font-size: 2rem;
	border: 1px solid transparent;
	outline: 1px solid transparent;
	border-radius: 20px 0 0 20px;
	color: rgba(255, 255, 255, 0.25);
}
.dm--icon {
	background-color: #0b153c;
	border-radius: 0 20px 20px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 15%;
	height: 100%;
	padding-block: 1rem;
}
.dm--icon svg {
	width: 3rem;
	height: 3rem;
	display: block;
	margin: auto;
	cursor: pointer;
}
